*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild



*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
/*/build/
local.properties
proguard/
.idea/
*.log
.gradle/
.idea/copyright/profiles_settings.xml
.idea/misc.xml
